/** @define Homepage */

.Homepage {
  background: gray(188);
  height: 100%;
  left: 0;
  min-height: 100vh;
  min-width: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.Homepage-tagline {
  display: none;
}

.Homepage-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: var(--depth-2);
}

.Homepage-header {
  margin: auto;
  text-align: center;
}

.Homepage-titleInner {
  color: white;
  font: 600 32px/32px var(--plain);
  text-decoration: none;
  text-transform: uppercase;

  &:visited {
    color: white;
  }

  &:hover {
    color: white;
  }
}

.Homepage-nav {
  margin-top: 15px;
}

.Homepage-items {
  display: flex;
  justify-content: space-between;
  margin: -15px 0 0 -15px;
}

.Homepage-item {
  font: 600 22px/22px var(--sans);
  padding: 15px 0 0 15px;
}

.Homepage-link {
  color: white;
  text-decoration: none;
  text-transform: capitalize;

  &:hover,
  &:visited {
    color: white;
    text-decoration: underline;
  }
}

.Homepage-media {
  background: url("web/assets/home.jpg") top center no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  min-height: 100vh;
  min-width: 100%;
  opacity: 0.7;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: var(--depth-1);
}

.Homepage-image {
  display: none;
}

.Homepage-video {
  background: url("web/assets/home.jpg") no-repeat;
  background-size: cover;
  height: auto;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
  width: auto;
  z-index: -100;

  @nest .mobile &,
  @nest .tablet & {
    display: none;
  }
}

@media (--medium) {
  .Homepage-titleInner {
    font: 600 48px/48px var(--plain);
  }

  .Homepage-item {
    font: 600 32px/32px var(--sans);
  }
}

@media (--large) {
  .Homepage-titleInner {
    font: 600 56px/56px var(--plain);
  }

  .Homepage-item {
    font: 600 42px/42px var(--sans);
  }

  .Homepage-media {
    opacity: 0.8;
  }
}

@media (--xlarge) {
  .Homepage-titleInner {
    font: 600 72px/72px var(--plain);
  }

  .Homepage-item {
    font: 600 48px/48px var(--sans);
  }
}
