/** @define Homepage */

.Homepage {
  background: black;
  height: 100%;
  left: 0;
  min-height: 100vh;
  min-width: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.Homepage-tagline {
  display: none;
}

.Homepage-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: var(--depth-2);
}

.Homepage-header {
  margin: auto;
  text-align: center;
}

.Homepage-titleInner {
  color: white;
  font: 600 32px/32px var(--plain);
  text-decoration: none;
  text-transform: uppercase;

  &:visited {
    color: white;
  }

  &:hover {
    color: white;
  }
}

.Homepage-nav {
  margin-top: 10px;
}

.Homepage-items {
  display: flex;
  justify-content: space-between;
  margin: -15px 0 0 -15px;
}

.Homepage-item,
.Homepage .menu-item { /* stylelint-disable-line */
  font: 400 22px/22px var(--sans-medium);
  padding: 15px 0 0 15px;
}

.Homepage-link,
.Homepage .menu-item > a { /* stylelint-disable-line */
  color: white;
  text-decoration: none;
  text-transform: capitalize;

  /* stylelint-disable */
  &:hover,
  &:visited {
    color: white;
    text-decoration: underline;
  }
  /* stylelint-enable */
}

.Homepage-media {
  background: url("web/assets/home.jpg") top center no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  max-height: 100%;
  max-width: 100%;
  min-height: 100vh;
  min-width: 100%;
  opacity: 0.9;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: var(--depth-1);
}

.Homepage-image {
  display: none;
}

.Homepage-video {
  display: block;
  left: 0;
  min-height: 100vh;
  min-width: 100%;
  top: 0;

  @nest .mobile &,
  @nest .tablet & {
    display: none;
  }
}

@media (--medium) {
  .Homepage-titleInner {
    font: 600 48px/48px var(--plain);
  }

  .Homepage-item,
  .Homepage .menu-item { /* stylelint-disable-line */
    font: 400 32px/32px var(--sans-medium);
  }
}

@media (--large) {
  .Homepage-titleInner {
    font: 600 56px/56px var(--plain);
  }

  .Homepage-item,
  .Homepage .menu-item { /* stylelint-disable-line */
    font: 400 42px/42px var(--sans-medium);
  }

  .Homepage-media {
    opacity: 0.9;
  }
}

@media (--xlarge) {
  .Homepage-titleInner {
    font: 600 72px/72px var(--plain);
  }

  .Homepage-item,
  .Homepage .menu-item { /* stylelint-disable-line */
    font: 400 48px/48px var(--sans-medium);
  }
}
