/** @define Project */

.Project {
}

.Project-inner {
  padding: 10px;
}

.Project-button {}

.Project-client {
  font: 400 18px/18px var(--sans);
  margin: 20px 0 0;
}

.Project-title {
  font: 600 18px/18px var(--sans);
  margin: 5px 0 0;
  padding-left: 55px;
}

.Project-content {
  font: 400 18px/18px var(--sans);
  margin: 5px 0 0;

  & > p {
    font: 400 18px/18px var(--sans);
    margin: 10px 0 0;
    padding-left: 55px;
  }

  & > p:first-child {
    margin-top: 0;
  }

  & > iframe,
  & > p > iframe {
    margin-left: -55px;
    max-width: 100%;
    min-width: 354px;
    position: relative;
  }
}

@media (--medium) {
  .Project-client {
    font: 400 36px/36px var(--sans);
    margin: 190px 0 0 -80px;
    padding-left: 280px;
  }

  .Project-title {
    font: 600 36px/36px var(--sans);
    margin: 60px 0 0;
    padding-left: 280px;
  }

  .Project-content {
    font: 400 36px/36px var(--sans);
    margin: 60px 0 0;
    padding-left: 280px;
  }

}

@media (--large) {
  .Project-client {
    font: 400 36px/36px var(--sans);
    margin: 190px 0 0 -80px;
    padding-left: 280px;
  }

  .Project-title {
    font: 600 36px/36px var(--sans);
    margin: 60px 0 0;
    padding-left: 280px;
  }

  .Project-content {
    font: 400 36px/36px var(--sans);
    margin: 60px 0 0;
    padding-left: 280px;
  }

}

@media (--xlarge) {}
