/** @define Button */

:root {
  --Button-easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Button {
  border: 0 transparent;
  box-shadow: none;
  color: black;
  cursor: pointer;
  display: block;
  font: 600 14px/14px var(--galano);
  letter-spacing: 1px;
  min-width: 130px;
  outline: none;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;

  /* Remove excess padding and border in Firefox 4+ */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:hover,
  &:focus,
  &:active {
    border: 0 transparent;
    box-shadow: none;
  }

  &:disabled,
  &.is-disabled {
    background: gray(238);
    color: gray(188);
    cursor: default;
    opacity: 0.5;
  }

  /**
   * Work around a Firefox/IE bug where the transparent `button` background
   * results in a loss of the default `button` focus styles.
   */
  &:focus {
    border: 0 transparent;
    box-shadow: none;
    outline: 0 dotted;
  }
}

/**
 * Modifier: transparent
 */
