/** @define Form */

:root {
  --Form-width: 280px;
  --Form-width-wide: 460px;
}

.Form {
  margin: 0 auto;
  max-width: var(--Form-width);
}

.Form-title {
  color: black;
  font: 700 18px/18px var(--galano);
  letter-spacing: 1px;
  margin-top: 20px;
  text-align: center;
  text-transform: capitalize;
}

/* Summary above form */
.Form-note {
  color: black;
  font: 400 11px/11px var(--galano);
  margin-top: 10px;
  text-align: center;
}

/* Help text */
.Form-help {
  color: black;
  font: 400 11px/11px var(--galano);
  margin-top: 10px;
}

/* Wraps a label & control */

.Form-field--choice {
  align-items: center;
  display: flex;
  margin-top: 20px;
}

.Form-field--checkbox {
  align-items: center;
  display: flex;
}

.Form-label {
  color: gray(188);
  display: block;
  font: 500 12px/12px var(--galano);
  margin-top: 10px;

  &.is-required {
    &::after {
      content: "*";
      display: inline;
    }
  }
}

/* Hide browser checkbox to style custom checkbox with label */
.Form-checkbox {
  display: none;
}

.Form-label--checkbox {
  color: gray(188);
  display: inline-block;
  flex: none;
  font-size: 12px/12px;
  font-weight: 500;
  margin-top: 0;
  user-select: none;

  &::before {
    background: transparent;
    border: 1px solid black;
    color: white;
    content: ".";
    display: inline-block;
    height: 15px;
    line-height: 1.4;
    margin-right: 10px;
    text-align: center;
    width: 15px;

    @nest .Form-checkbox:checked + & {
      color: black;
      content: "\2713";
    }
  }
}

/* Groups multiple inputs and label */
.Form-control {
  margin-top: 5px;
}

/* Multiple inputs in one field */
.Form-field--multiple {
  display: block;
}

/* Form fieldset title */
.Form-legend {
  display: none;
}

/* Text */
.Form-input {
  background: gray(238);
  color: black;
  display: flex;
  font: 500 12px/12px var(--galano);
  height: 25px;
  max-width: calc(var(--Form-width) - 30px); /* Form width minus padding */
  padding: 0 10px;
  width: 100%;

  /* stylelint-disable selector-no-vendor-prefix, selector-pseudo-class-whitelist, property-no-vendor-prefix, selector-max-specificity */
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: gray(188);
    font-weight: 600;
  }

  &::-moz-placeholder { /* Firefox 19+ */
    color: gray(188);
    font-weight: 600;
  }

  &:-ms-input-placeholder { /* IE 10+ */
    color: gray(188);
    font-weight: 600;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: gray(188);
    font-weight: 600;
  }

  &:-webkit-autofill {
    border: 0 solid gray(238);
    -webkit-box-shadow: inset 0 0 0 9999px gray(238);
  }

  &:focus,
  &:-webkit-autofill:focus {
    border-color: gray(238);
    -webkit-box-shadow: inset 0 0 0 9999px gray(238), 0 0 8px gray(238);
  }
  /* stylelint-enable */
}

.Form-select {
  border: 1px solid gray(238);
  border-radius: 0;
  font: 400 12px/12px var(--galano);
  height: 25px;
  padding: 5px 8px;
}

/* Form submit links/buttons */
.Form-actions {
  margin-top: 20px;
  text-align: center;
}

.Form-action {
  display: flex;
  justify-content: center;
  margin: 10px auto 0;
}

.Form-link {
  color: gray(188);
  font: 600 11px/11px var(--galano);
  text-decoration: underline;
  text-transform: uppercase;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: black;
  }

  &:visited {
    color: gray(188);
  }
}

.Form-passwordStrength {
  color: black;
  margin-top: 7px;
  font: 400 12px/12px var(--galano);
}

/**
 * Viewport: medium
 */

@media (--medium) {
  .Form {
    max-width: var(--Form-width-wide);
  }

  .Form-field {
    align-items: flex-start;
    display: flex;
    margin-top: 5px;
  }

  .Form-label {
    flex: 0 0 140px;
    margin-top: 5px;
  }

  .Form-control {
    flex: 1;
    margin-top: 0;
  }

  .Form-input {
    max-width: none;
    width: 300px;
  }

  .Form-field--choice {
    margin-left: 140px;
  }

  .Form-label--checkbox {
    align-items: center;
    display: flex;
    flex: none;
  }

  .Form-actions {
    margin-top: 40px;
  }

  .Form--cartSummary {
    margin: 0;
  }

  .Form--cart {
    max-width: none;
    width: 100% !important; /* stylelint-disable declaration-no-important */
  }

  .Form--customer {
    margin-top: 20px;

    & .Form-actions {
      margin-left: 140px;
    }
  }
}
