/** @define Content; weak */

/**
 * Content is a special "weak" component used for styling chunks of HTML content.
 *
 * It uses the "lobotomized owl" technique for whitepace:
 * http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
 *
 * This component should rarely contain other components. However, the child
 * combinator is used to migigate leaky cascading should this have to happen.
 */

/* stylelint-disable selector-no-universal, selector-no-type */

.Content {
  font: 400 18px/22px var(--sans);
  margin: 0 auto;
  max-width: 580px;
  text-align: left;

  & * + * {
    margin-top: 15px;
  }

  & > h1 {
    color: black;
    font: 400 18px/22px var(--sans);
  }

  & > h2 {
    color: black;
    font: 400 18px/22px var(--sans);
  }

  & > h3 {
    color: black;
    font: 400 18px/22px var(--sans);
  }

  & > p {
    color: black;
    font: 500 18px/22px var(--sans);
  }

  & > * > li {
    color: black;
    font: 500 18px/22px var(--sans);
  }

  & > ul {
    padding-left: 30px;

    & > li {
      list-style: square;
    }
  }

  & > ol {
    padding-left: 30px;

    & > li {
      list-style: decimal;
    }
  }

  & > dl {
    display: flex;
    justify-content: space-between;

    & > dt {
      flex: 0 0 20%;

      &::after {
        content: ":";
        display: inline;
      }
    }

    & > dd {
      flex: 1;
      margin-left: 10px;
      margin-top: 0;
    }
  }

  & > hr {
    background: black;
    border: 0;
    height: 1px;
    width: 5px;
  }

  & blockquote {
    border-left: 15px solid pink;
    padding-left: 5px;

    & > p {
      color: black;
      font: italic 500 11px/13px var(--sans);
    }
  }

  & strong {
    font-family: var(--sans);
    font-weight: 700;
  }

  /* <a> tags within <p>, <ol><li> and <ul><li> */
  & * > a,
  & * > * > a {
    color: black;
    text-decoration: none;

    &:hover { /* stylelint-disable-line selector-max-specificity */
      text-decoration: underline;
    }
  }

  & table {
    border: 2px solid black;
    margin-bottom: 20px;
    table-layout: fixed;
    text-align: center;
    width: 100%;
  }

  & td {
    margin-top: 0;
    padding: 20px 30px;
    text-align: center;

    &:last-child {
      display: flex;
      justify-content: center;
      text-align: left;
    }
  }

  & tr {
    &:first-child {
      font-weight: 600;
    }

    &:nth-child(2) td { /* stylelint-disable selector-max-specificity */
      padding-top: 10px;
    }

    &:last-child td {
      padding-bottom: 10px;
    }
  }
}

.Content--contact {

}

@media (--medium) {
  .Content {
    & * + * {
      margin-top: 35px;
    }
  }
}

@media (--large) {
  .Content {
    font: 400 33px/36px var(--sans);
    max-width: 760px;

    & * + * {
      margin-top: 40px;
    }

    & > h1 {
      font: 400 33px/36px var(--sans);
    }

    & > h2 {
      font: 400 33px/36px var(--sans);
      margin-left: auto;
      margin-right: auto;
      max-width: 520px;
      text-align: left;
    }

    & > h3 {
      font: 400 33px/36px var(--sans);
    }

    & > p {
      font: 400 33px/36px var(--sans);
    }

    & > * > li {
      font: 400 33px/36px var(--sans);
    }
  }

  .Content--contact {
    & > p,
    & > ul,
    & > ol {
      font: 400 33px/36px var(--sans);
      margin-left: auto;
      margin-right: auto;
      max-width: 520px;
      text-align: left;
    }
  }
}
