/** @define Header */

.Header {
  align-items: center;
  display: flex;
  padding: 0 20px;
  position: relative;
  text-align: center;
}

.Header-logo {
  background: svg-load(logo.svg) no-repeat center center;
  background-size: contain;
  display: block;
  height: 75px;
  left: -5px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  text-indent: 100%;
  white-space: nowrap;
  width: 100px;
}

.Header-nav {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  max-width: 280px;
  position: absolute;
  right: 20px;
  top: 32px;
  transform: scale(0.8);
}

.Header-item {
  margin-left: 20px;
}

.Header-link {
  display: block;
  font-size: 0;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    text-decoration: none;
  }
}

.Header-link--user {
  background: svg-load(user.svg) no-repeat center center;
  background-size: contain;
  height: 21px;
  width: 24px;
}

.Header-link--bag {
  align-items: center;
  background: svg-load(bag.svg) no-repeat center center;
  background-size: 24px 23px;
  display: flex;
  height: 23px;
  justify-content: center;
  overflow: visible;
  width: 24px;
}

.Header-logout {
  color: gray(188);
  cursor: pointer;
  font: 500 11px/11px var(--galano);
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: -30px;
}

@media (--medium) {
  .Header {
    display: block;
  }

  .Header-logo {
    background-size: 100%;
    display: block;
    height: 88px;
    margin: 0 auto;
    width: 81px;
  }

  .Header-nav {
    transform: scale(1);
  }
}
