/** @define Footer */

.Footer {
  margin: 10px auto 0;
  position: relative;
}

/**
 * Viewport: medium
 */

@media (--medium) {
  .Footer {
    margin-top: 35px;
  }
}

/**
 * Viewport: large
 */

@media (--large) {
  .Footer {
    margin-top: 70px;
  }
}
