/** @define Page */

.Page {
  background: #dbffbb;
}

.Page-inner {
  margin: 20px 10px 0;
  text-align: center;
}

.Page-title {
  display: none;
}

.Page--contact {
  background: #ecd2ff;
}

.Page-footer {
  bottom: 40px;
  font: 300 14px/14px var(--sans-thin);
  position: absolute;
  text-align: center;
  width: 100%;
}

@media (--medium) {
  .Page-inner {
    margin: 35px 100px 0;
  }

  .Page-footer {
    bottom: 70px;
    font: 300 16px/16px var(--sans-thin);
  }
}

@media (--large) {
  .Page-inner {
    margin: 70px 215px 0;
  }
}
