/** @define Page */

.Page {
  background: #e2ffed;
}

.Page-inner {
  margin: 20px 10px 0;
  text-align: center;
}

.Page-title {
  display: none;
}

.Page--contact {
  background: #ffdcdc;
}

@media (--medium) {
  .Page-inner {
    margin: 35px 100px 0;
  }
}

@media (--large) {
  .Page-inner {
    margin: 60px 215px 0;
  }
}
