/** @define Work */

.Work-items {
  list-style: none;
  padding: 0;
  transition: all 0.1s ease-in;
}

.Work-item {
  display: block;
  margin-bottom: 20px;
  min-width: 240px;
}

.Work-itemInner {
  display: block;
  float: left;
  margin-left: 5%;
  position: relative;
  width: 90%;

  & img {  /* stylelint-disable-line*/
    display: block;
    height: auto;
    width: 100%;
  }
}

.Work-title {
  font-family: var(--sans-thin);
  font-size: 22px;
  letter-spacing: .06em; /* stylelint-disable-line*/
  margin: 0;
  text-align: center;
}

.Work-link {
  color: black;
  text-decoration: none;
}

.Work-linkOverlay {
  display: none;
}

.Work-linkInner {
  color: black;
  display: block;
  font-family: var(--sans-thin);
  font-size: 22px;
  letter-spacing: .06em; /* stylelint-disable-line*/
  padding: 8px 0 30px;
}

@media (--medium) {
  .Work-items {
    display: flex;
    flex-wrap: wrap;
    margin: 65px 0 0 -20px;

    /* Styling for every middle element here. */
    & li:nth-child(3n+2) { /* stylelint-disable-line*/
      & div { /* stylelint-disable-line*/
        float: none;
        margin: auto;
      }
    }

    /* Styling for every third element here. */
    & li:nth-child(3n) { /* stylelint-disable-line*/
      & div { /* stylelint-disable-line*/
        float: right;
      }
    }
  }

  .Work-item {
    display: block;
    flex: none;
    max-width: none;
    width: 33.3333% !important; /* stylelint-disable-line*/
  }

  .Work-itemInner {
    display: block;
    float: left;
    margin-left: 0;
    width: 95%;
  }

  .Work-title {
    display: inline-block;
    height: 100%;
    left: 0;
    position: absolute;
    top: -2px;
    top: 0;
    width: 100%;
  }

  .Work-link {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    opacity: 0;
    position: relative;
    width: 100%;

    &:hover {
      opacity: 1;
    }
  }

  .Work-linkOverlay {
    background: white;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.8;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  .Work-linkInner {
    color: black;
    display: block;
    padding: 10px;
    z-index: 200;
  }

  .Work-item--small {
    & .Work-itemInner {
      width: 85%;
    }
  }

  .Work-item--medium {
    & .Work-itemInner {
      margin-top: 100px;
      width: 95%;
    }

    &:first-child,
    &:nth-child(2),
    &:nth-child(3) {
      & .Work-itemInner { /* stylelint-disable-line */
        margin-top: 0;
      }
    }
  }
}
