/* Minimal singular family, multiple weights setup */

/* Galano Grotesque */
@font-face {
  font-family: "Galano Grotesque Web";
  font-weight: 400;
  src:
    url("../fonts/galano-grotesque/400.woff2") format("woff2"),
    url("../fonts/galano-grotesque/400.woff") format("woff");
}

@font-face {
  font-family: "Galano Grotesque Web";
  font-weight: 500;
  src:
    url("../fonts/galano-grotesque/500.woff2") format("woff2"),
    url("../fonts/galano-grotesque/500.woff") format("woff");
}

@font-face {
  font-family: "Galano Grotesque Web";
  font-weight: 600;
  src:
    url("../fonts/galano-grotesque/600.woff2") format("woff2"),
    url("../fonts/galano-grotesque/600.woff") format("woff");
}

@font-face {
  font-family: "Galano Grotesque Web";
  font-weight: 700;
  src:
    url("../fonts/galano-grotesque/700.woff2") format("woff2"),
    url("../fonts/galano-grotesque/700.woff") format("woff");
}

/* Galano Grotesque Alt */
@font-face {
  font-family: "Galano Grotesque Alt Web";
  font-weight: 400;
  src:
    url("../fonts/galano-grotesque-alt/400.woff2") format("woff2"),
    url("../fonts/galano-grotesque-alt/400.woff") format("woff");
}

@font-face {
  font-family: "Galano Grotesque Alt Web";
  font-weight: 500;
  src:
    url("../fonts/galano-grotesque-alt/500.woff2") format("woff2"),
    url("../fonts/galano-grotesque-alt/500.woff") format("woff");
}

@font-face {
  font-family: "Galano Grotesque Alt Web";
  font-style: italic;
  font-weight: 500;
  src:
    url("../fonts/galano-grotesque-alt/500-italic.woff2") format("woff2"),
    url("../fonts/galano-grotesque-alt/500-italic.woff") format("woff");
}

@font-face {
  font-family: "Galano Grotesque Alt Web";
  font-weight: 600;
  src:
    url("../fonts/galano-grotesque-alt/600.woff2") format("woff2"),
    url("../fonts/galano-grotesque-alt/600.woff") format("woff");
}

@font-face {
  font-family: "Galano Grotesque Alt Web";
  font-weight: 700;
  src:
    url("../fonts/galano-grotesque-alt/700.woff2") format("woff2"),
    url("../fonts/galano-grotesque-alt/700.woff") format("woff");
}
